<section class="category-baner mt-8 mb-10 md:my-20">
    <div class="container ">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5 text-white child:md:h-[248px] child:h-[142px]  child:flex child:flex-col child:justify-center  ">
            <div class="category-baner-imge-1 rounded-2xl pr-7 lg:pr-12">
                <h5 class="font-Dana text-xl/6 lg:text-4xl/6 mb-4 lg:mb-7 font-semibold">انواع قهوه</h5>
                <span class="font-Dana-Medium  lg:text-xl/6 font-normal">ترکیبی و تک خاستگاه</span>
            </div>
            <div class="category-baner-imge-2 rounded-2xl pr-7 lg:pr-12">
                <h5 class="font-Dana text-xl/6 lg:text-4xl/6 mb-4 lg:mb-7 font-semibold">پودر های فوری</h5>
                <span class="font-Dana-Medium  lg:text-xl/6 font-normal">نسکافه ، هات چاکلت ، ماسالا</span>

            </div>
        </div>
    </div>
    
</section>

