<section class="products-category mb-20">
    <div class="container">
        <div class="flex items-center justify-center flex-wrap gap-y-6  gap-x-[29px] md:gap-x-[65px] dark:text-white ">
            <div class="w-25 md:w-50 text-center">
                <a href="#">
                    <img class="size-25 md:size-[200px]" src="assets/images/categories/category1.png" alt="p1">
                </a>
                <span class="font-Dana font-semibold text-sm md:text-xl  inline-block mt-1.5 md:mt2.5">قهوه دمی و اسپرسو</span>

            </div>
            <div class=" w-25 md:w-50 text-center">
                <a href="#"><img class="size-25 md:size-50 " src="assets/images/categories/category2.png" alt="p1"></a>
                
                <span class="font-Dana font-semibold text-sm md:text-xl   ">لوازم جانبی و تجهیزات</span>

            </div>
            <div class=" w-25 md:w-50  text-center">
                <a href="#"><img class="size-25 md:size-50 " src="assets/images/categories/category3.png" alt="p1"></a>
                
                <span class="font-Dana font-semibold text-sm md:text-xl ">اسپرسو ساز </span>

            </div>
            <div class=" w-25 md:w-50  text-center">
                <a href="#"> <img class="size-25 md:size-50 " src="assets/images/categories/category4.png" alt="p1"></a>
                
                <span class="font-Dana font-semibold text-sm md:text-xl "> پک تستر قهوه</span>

            </div>
            <div class=" w-25 md:w-50 text-center">
                <a href="#"> <img class="size-25 md:size-50 " src="assets/images/categories/category5.png" alt="p1"></a>
                
                <span class="font-Dana font-semibold text-sm md:text-xl " >قهوه ترک</span>

            </div>

        </div>
    </div>
</section>

