<section class=" bg-(image:--image-headerBgMobile)  md:bg-(image:--image-headerBgDesktop)  relative h-[200px] xs:h-auto xs:aspect-[2/1]   bg-no-repeat bg-cover bg-[center_top]   ">
  
      <div class="relative container h-full md:min-h-screen flex justify-end items-center overflow-y-hidden ">
          <div class="text-white">
              <h2 class="font-Morabba-Bold text-2xl md:text-6xl mb-0.5 md:mb-2                     md:font-bold md:line-height-[62px]    line-height-[32px] ">قهوه عربیکا تانزانیا</h2>
              <p class="font-Morabba-Light text-xl md:text-5xl                       md:font-light md:line-height-[64px]  line-height-[32px] ">یک فنجان بالانس !</p>
              <span class="block w-[100px] bg-orange-300 h-px md:h-0.5 my-3 md:my-8      "></span>
              <p class="max-w-[201px] md:max-w-[460px] text-xs md:text-2xl                                       font-Dana   md:font-normal md:line-height-[32px]    line-height-[16px] ">قطعا نام آشنای عربیکا را شنیده اید، عربیکا یکی از گونه های قهوه است که در نواحی مختلف کمربند قهوه کشت میشود.</p>
          
          </div>
          <!-- curve -->
          <!-- منحنی لبه-->
          <svg class="absolute bottom-0 left-0 right-0 mx-auto text-gray-100 dark:text-zinc-800 w-[100px] h-[21px] hidden md:flex ">
              <use xlink:href="#curve"></use>
          </svg>

          <!-- circle -->
          <!-- سه گانه ها دایره ای درون هم -->
          <div class=" circle min-circle circle--lg hidden md:flex ">
              <div class=" circle circle--md ">
                  <div class=" circle circle--sm "> </div>
              </div>
          </div>
      </div>
      <!-- Arrow -->
      <!-- فلش رو به پایین -->
      <div class="min-circle circle size-[30px] border-2 border-orange-300 hidden md:flex m-auto" >
          <svg class="size-5 dark:text-white text-zinc-700">
              <use xlink:href="#chevron-down-mini"></use>
          </svg>
      </div>
  
  </section>

