<app-header></app-header>


<main class=" ">

  <app-hero class=" "></app-hero>
  <app-new-products></app-new-products>
  <app-category-banner></app-category-banner>
  <app-products-category></app-products-category>

  <app-best-sell></app-best-sell>

<app-coffee-club></app-coffee-club>


  <app-blogs></app-blogs>
  <app-contact-us></app-contact-us>

  <app-services></app-services>

</main>
<!-- app-footer -->
 <app-footer></app-footer>





<!-- Swiper is initialized in TypeScript (ngAfterViewInit). Inline scripts are removed. -->


