<section class="my-8  md:my-20">  <section class="products md:pt-10 lg:pt-48 pt-8 mb-10">
    <div class=" container ">
        <div class="flex items-end justify-between mb-5 md:mb-12 lg:mb-12">
            <div class="">
                <h3 class="section-title">جدید ترین محصولات</h3>
                <span class="section-subtitle">
                    فرآوری شده از دانه قهوه
                </span>
            </div>
            <span class="section-links">
                <span class="hidden md:inline-block">مشاهده همه محصولات </span>
                <span class="inline-block md:hidden">مشاهده همه  </span>
                <svg class="size-5">
                    <use xlink:href="#chevron-left"></use>
                </svg>
            </span>
        </div>
        <!-- cards -->
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-3.5 md:gap-5  ">
            <!-- 1 -->
            <div class=" p-2 mb-2 md:p-5 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">

                <div class="relative mb-5 ">
                    <img class="w-32 md:w-auto mx-auto" src="assets/images/products/p1.png " alt="p1">
                    <span class="absolute right-1.5 top-1.5 block h-5 md:h-[30px] font-Dana-DemiBold bg-orange-300  text-white dark:text-zinc-700 px-2.5 md:px-3.5 rounded-full text-xs/[24px] md:text-base/[34px] ">12%</span>
                </div>

                <h5 class="font-Dana-Medium text-sm lg:text-xl text-zinc-700 dark:text-white line-clamp-2 ">قهوه ترک بن مانو مقدار 250 گرم خط دوم اسم طولانی </h5>

                <div class="flex gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5 ">
                    <div class=" text-teal-600 dark:text-emerald-500 flex flex-row justify-center items-center">
                        <span class="font-Dana-DemiBold  text-base md:text-xl">154,000</span>
                        <span class=" text-xs md:text-sm tracking-tight">تومان</span>
                    </div>
                    <div class="offer">
                        <span class=" text-xs lg:text-xl">154,000</span>
                        <span class="hidden lg:inline w-lg:text-sm text-xs tracking-tight">تومان</span>
                    </div>
                </div>


                <div class="flex justify-between">
                    <div class="flex gap-3 items-center text-gray-400">
                        <!--  -->
                        <span class="flex-center size-[26px] md:size-9  bg-gray-100  hover:bg-teal-600 dark:bg-zinc-800 dark:hover:bg-emerald-500  hover:text-white  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:w-[22px] md:h-[22px] ">
                                <use xlink:href="#shopping-cart"></use>
                            </svg>
                        </span>
                        <span class="   hover:text-teal-600 dark:hover:text-emerald-600  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:size-6 ">
                                <use xlink:href="#arrows-pointing-out"></use>
                            </svg>
                        </span>

                    </div>
                    <div class="child:size-4 child:lg:size-6 flex flex-row-reverse  items-center justify-between [&>*:nth-child(-n+3)]:text-yellow-500">
                        <svg >
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                    </div>
                    
                </div>

            </div>
            <!-- 2 -->
            <div class=" p-2 mb-2 md:p-5 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">

                <div class="relative mb-5 ">
                    <img class="w-32 md:w-auto mx-auto" src="assets/images/products/p2.png" alt="p1">
                    <span class="absolute right-1.5 top-1.5 block h-5 md:h-[30px] font-Dana-DemiBold bg-orange-300  text-white dark:text-zinc-700 px-2.5 md:px-3.5 rounded-full text-xs/[24px] md:text-base/[34px] ">12%</span>
                </div>

                <h5 class="font-Dana-Medium text-sm lg:text-xl text-zinc-700 dark:text-white line-clamp-2 ">قهوه ترک بن مانو مقدار 250 گرم خط دوم اسم طولانی </h5>

                <div class="flex gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5 ">
                    <div class=" text-teal-600 dark:text-emerald-500 flex flex-row justify-center items-center">
                        <span class="font-Dana-DemiBold  text-base md:text-xl">154,000</span>
                        <span class=" text-xs md:text-sm tracking-tight">تومان</span>
                    </div>
                    <div class="offer">
                        <span class=" text-xs lg:text-xl">154,000</span>
                        <span class="hidden lg:inline w-lg:text-sm text-xs tracking-tight">تومان</span>
                    </div>
                </div>

                <div class="flex justify-between">
                    <div class="flex gap-3 items-center text-gray-400">
                        <!--  -->
                        <span class="flex-center size-[26px] md:size-9  bg-gray-100  hover:bg-teal-600 dark:bg-zinc-800 dark:hover:bg-emerald-500  hover:text-white  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:w-[22px] md:h-[22px] ">
                                <use  xlink:href="#shopping-cart"></use>
                            </svg>
                        </span>
                        <span class="   hover:text-teal-600 dark:hover:text-emerald-600  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:size-6 ">
                                <use   xlink:href="#arrows-pointing-out"></use>
                            </svg>
                        </span>

                    </div>
                    <div class="child:size-4 child:lg:size-6 flex flex-row-reverse  items-center justify-between [&>*:nth-child(-n+2)]:text-yellow-500">
                        <svg >
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                    </div>
                    
                </div>


            </div>
            <!-- 3 -->
            <div class=" p-2 mb-2 md:p-5 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">

                <div class="relative mb-5 ">
                    <img class="w-32 md:w-auto mx-auto" src="assets/images/products/p3.png" alt="p1">
                    <span class="hidden absolute right-1.5 top-1.5 block h-5 md:h-[30px] font-Dana-DemiBold bg-orange-300  text-white dark:text-zinc-700 px-2.5 md:px-3.5 rounded-full text-xs/[24px] md:text-base/[34px] ">12%</span>
                </div>

                <h5 class="font-Dana-Medium text-sm lg:text-xl text-zinc-700 dark:text-white line-clamp-2 ">قهوه ترک بن مانو مقدار 250 گرم خط دوم اسم طولانی </h5>

                <div class="flex gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5 ">
                    <div class=" text-teal-600 dark:text-emerald-500 flex flex-row justify-center items-center">
                        <span class="font-Dana-DemiBold  text-base md:text-xl">154,000</span>
                        <span class=" text-xs md:text-sm tracking-tight">تومان</span>
                    </div>
                    <div class="offer">
                        <span class=" text-xs lg:text-xl">154,000</span>
                        <span class="hidden lg:inline w-lg:text-sm text-xs tracking-tight">تومان</span>
                    </div>
                </div>


                <div class="flex justify-between">
                    <div class="flex gap-3 items-center text-gray-400">
                        <!--  -->
                        <span class="flex-center size-[26px] md:size-9  bg-gray-100  hover:bg-teal-600 dark:bg-zinc-800 dark:hover:bg-emerald-500  hover:text-white  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:w-[22px] md:h-[22px] ">
                                <use  xlink:href="#shopping-cart"></use>
                            </svg>
                        </span>
                        <span class="   hover:text-teal-600 dark:hover:text-emerald-600  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:size-6 ">
                                <use   xlink:href="#arrows-pointing-out"></use>
                            </svg>
                        </span>

                    </div>
                    <div class="child:size-4 child:lg:size-6 flex flex-row-reverse  items-center justify_between [&>*:nth-child(-n+5)]:text-yellow-500">
                        <svg >
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                    </div>
                    
                </div>

            </div>
            <!-- 4 -->
            <div class=" p-2 mb-2 md:p-5 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">

                <div class="relative mb-5 ">
                    <img class="w-32 md:w-auto mx_auto" src="assets/images/products/p4.png" alt="p1">
                    <span class="hidden absolute right-1.5 top-1.5 block h-5 md:h-[30px] font-Dana-DemiBold bg-orange-300  text-white dark:text-zinc-700 px-2.5 md:px-3.5 rounded-full text-xs/[24px] md:text-base/[34px] ">12%</span>
                </div>

                <h5 class="font-Dana-Medium text-sm lg:text-xl text-zinc-700 dark:text-white line-clamp-2 ">قهوه ترک بن مانو مقدار 250 گرم خط دوم اسم طولانی </h5>

                <div class="flex gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5 ">
                    <div class=" text-teal-600 dark:text-emerald-500 flex flex_row justify-center items-center">
                        <span class="font-Dana-DemiBold  text-base md:text-xl">154,000</span>
                        <span class=" text-xs md:text-sm tracking-tight">تومان</span>
                    </div>
                    <div class="offer">
                        <span class=" text-xs lg:text-xl">154,000</span>
                        <span class="hidden lg:inline w-lg:text-sm text-xs tracking-tight">تومان</span>
                    </div>
                </div>


                <div class="flex justify-between">
                    <div class="flex gap-3 items-center text-gray-400">
                        <!--  -->
                        <span class="flex-center size-[26px] md:size-9  bg-gray-100  hover:bg-teal-600 dark:bg-zinc-800 dark:hover:bg-emerald-500  hover:text-white  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:w-[22px] md:h-[22px] ">
                                <use  xlink:href="#shopping-cart"></use>
                            </svg>
                        </span>
                        <span class="   hover:text-teal-600 dark:hover=text-emerald-600  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:size-6 ">
                                <use   xlink:href="#arrows-pointing-out"></use>
                            </svg>
                        </span>

                    </div>
                    <div class="child:size-4 child:lg:size-6 flex flex-row-reverse  items-center justify_between [&>*:nth-child(-n+1)]:text-yellow-500">
                        <svg >
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                    </div>
                    
                </div>


            </div>
            <!-- 5 -->
            <div class=" p-2 mb-2 md:p-5 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">

                <div class="relative mb-5 ">
                        <img class="w-32 md:w-auto mx-auto" src="assets/images/products/p5.png" alt="p1">
                    <span class="hidden absolute right-1.5 top-1.5 block h-5 md:h-[30px] font-Dana-DemiBold bg-orange-300  text-white dark:text-zinc-700 px-2.5 md:px-3.5 rounded-full text-xs/[24px] md:text-base/[34px] ">12%</span>
                </div>

                <h5 class="font-Dana-Medium text-sm lg:text-xl text-zinc-700 dark:text-white line-clamp-2 ">قهوه ترک بن مانو مقدار 250 گرم خط دوم اسم طولانی </h5>

                <div class="flex gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5 ">
                    <div class=" text-teal-600 dark:text-emerald-500 flex flex-row justify-center items-center">
                        <span class="font-Dana-DemiBold  text-base md:text-xl">154,000</span>
                        <span class=" text-xs md:text-sm tracking-tight">تومان</span>
                    </div>
                    <div class="offer">
                        <span class=" text-xs lg:text-xl">154,000</span>
                        <span class="hidden lg:inline w-lg:text-sm text-xs tracking-tight">تومان</span>
                    </div>
                </div>


                <div class="flex justify-between">
                    <div class="flex gap-3 items-center text-gray-400">
                        <!--  -->
                        <span class="flex-center size-[26px] md:size-9  bg-gray-100  hover:bg-teal-600 dark:bg-zinc-800 dark:hover:bg-emerald-500  hover:text-white  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:w-[22px] md:h-[22px] ">
                                <use  xlink:href="#shopping-cart"></use>
                            </svg>
                        </span>
                        <span class="   hover:text-teal-600 dark:hover:text-emerald-600  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:size-6 ">
                                <use   xlink:href="#arrows-pointing-out"></use>
                            </svg>
                        </span>

                    </div>
                    <div class="child:size-4 child:lg:size-6 flex flex-row-reverse  items-center justify_between [&>*:nth-child(-n+4)]:text-yellow-500">
                        <svg >
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                    </div>
                    
                </div>


            </div>
            <!-- 6 -->
            <div class=" p-2 mb-2 md:p-5 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">

                <div class="relative mb-5 ">
                    <img class="w-32 md:w-auto mx-auto" src="assets/images/products/p6.png" alt="p1">
                    <span class="hidden absolute right-1.5 top-1.5 block h-5 md:h-[30px] font-Dana-DemiBold bg-orange-300  text-white dark:text-zinc-700 px-2.5 md:px-3.5 rounded-full text-xs/[24px] md:text-base/[34px] ">12%</span>
                </div>

                <h5 class="font-Dana-Medium text-sm lg:text-xl text-zinc-700 dark:text-white line-clamp-2 ">قهوه ترک بن مانو مقدار 250 گرم خط دوم اسم طولانی </h5>

                <div class="flex gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5 ">
                    <div class=" text-teal-600 dark:text-emerald-500 flex flex-row justify_center items-center">
                        <span class="font-Dana-DemiBold  text-base md:text-xl">154,000</span>
                        <span class=" text-xs md:text-sm tracking-tight">تومان</span>
                    </div>
                    <div class="offer">
                        <span class=" text-xs lg:text-xl">154,000</span>
                        <span class="hidden lg:inline w-lg:text-sm text-xs tracking-tight">تومان</span>
                    </div>
                </div>

                <div class="flex justify-between">
                    <div class="flex gap-3 items-center text-gray-400">
                        <!--  -->
                        <span class="flex-center size-[26px] md:size-9  bg-gray-100  hover:bg-teal-600 dark:bg-zinc-800 dark:hover:bg-emerald-500  hover:text-white  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:w-[22px] md:h-[22px] ">
                                <use  xlink:href="#shopping-cart"></use>
                            </svg>
                        </span>
                        <span class="   hover:text-teal-600 dark:hover:text-emerald-600  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:size-6 ">
                                <use   xlink:href="#arrows-pointing-out"></use>
                            </svg>
                        </span>

                    </div>
                    <div class="child:size-4 child:lg:size-6 flex flex-row-reverse  items-center justify_between [&>*:nth-child(-n+4)]:text-yellow-500">
                        <svg >
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                    </div>
                    
                </div>
            </div>
            <!-- 7 -->
            <div class=" p-2 mb-2 md:p-5 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">

                <div class="relative mb-5 ">
                    <img class="w-32 md:w-auto mx-auto" src="assets/images/products/p7.png" alt="p1">
                    <span class="absolute right-1.5 top-1.5 block h-5 md:h-[30px] font-Dana-DemiBold bg-orange-300  text-white dark:text-zinc-700 px-2.5 md:px-3.5 rounded-full text-xs/[24px] md:text-base/[34px] ">8%</span>
                </div>

                <h5 class="font-Dana-Medium text-sm lg:text-xl text-zinc-700 dark:text-white line-clamp-2 ">قهوه ترک بن مانو مقدار 250 گرم خط دوم اسم طولانی </h5>

                <div class="flex gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5 ">
                    <div class=" text-teal-600 dark:text-emerald-500 flex flex-row justify-center items-center">
                        <span class="font-Dana-DemiBold  text-base md:text-xl">154,000</span>
                        <span class=" text-xs md:text-sm tracking-tight">تومان</span>
                    </div>
                    <div class="offer">
                        <span class=" text-xs lg:text-xl">154,000</span>
                        <span class="hidden lg:inline w-lg:text-sm text-xs tracking-tight">تومان</span>
                    </div>
                </div>
                <div class="flex justify-between">
                    <div class="flex gap-3 items-center text-gray-400">
                        <!--  -->
                        <span class="flex-center size-[26px] md:size-9  bg-gray-100  hover:bg-teal-600 dark:bg-zinc-800 dark:hover:bg-emerald-500  hover:text-white  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:w-[22px] md:h-[22px] ">
                                <use  xlink:href="#shopping-cart"></use>
                            </svg>
                        </span>
                        <span class="   hover:text-teal-600 dark:hover:text-emerald-600  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:size-6 ">
                                <use   xlink:href="#arrows-pointing-out"></use>
                            </svg>
                        </span>

                    </div>
                    <div class="child:size-4 child:lg:size-6 flex flex-row-reverse  items-center justify_between [&>*:nth-child(-n+3)]:text-yellow-500">
                        <svg >
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                    </div>
                    
                </div>
            </div>
            <!-- 8 -->
            <div class=" p-2 mb-2 md:p-5 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl">

                <div class="relative mb-5 ">
                        <img class="w-32 md:w-auto mx-auto" src="assets/images/products/p8.png" alt="p1">
                    <span class="hidden absolute right-1.5 top-1.5 block h-5 md:h-[30px] font-Dana-DemiBold bg-orange-300  text-white dark:text-zinc-700 px-2.5 md:px-3.5 rounded-full text-xs/[24px] md:text-base/[34px] ">12%</span>
                </div>

                <h5 class="font-Dana-Medium text-sm lg:text-xl text-zinc-700 dark:text-white line-clamp-2 ">قهوه ترک بن مانو مقدار 250 گرم خط دوم اسم طولانی </h5>

                <div class="flex gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5 ">
                    <div class=" text-teal-600 dark:text-emerald-500 flex flex-row justify_center items-center">
                        <span class="font-Dana-DemiBold  text-base md:text-xl">154,000</span>
                        <span class=" text-xs md:text-sm tracking-tight">تومان</span>
                    </div>
                    <div class="offer">
                        <span class=" text-xs lg:text-xl">154,000</span>
                        <span class="hidden lg:inline w-lg:text-sm text-xs tracking-tight">تومان</span>
                    </div>
                </div>


                <div class="flex justify-between">
                    <div class="flex gap-3 items-center text-gray-400">
                        <!--  -->
                        <span class="flex-center size-[26px] md:size-9  bg-gray-100  hover:bg-teal-600 dark:bg-zinc-800 dark:hover:bg-emerald-500  hover:text-white  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:w-[22px] md:h-[22px] ">
                                <use  xlink:href="#shopping-cart"></use>
                            </svg>
                        </span>
                        <span class="   hover:text-teal-600 dark:hover:text-emerald-600  rounded-full cursor-pointer transition-all">
                            <svg class="size-4 md:size-6 ">
                                <use   xlink:href="#arrows-pointing-out"></use>
                            </svg>
                        </span>

                    </div>
                    <div class="child:size-4 child:lg:size-6 flex flex-row-reverse  items-center justify_between [&>*:nth-child(-n+2)]:text-yellow-500">
                        <svg >
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                        <svg>
                            <use  xlink:href="#star"></use>
                        </svg>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>


</section>
