<section class="cofe-club my-8  md:my-20">
    <div class=" container">
        <div class="block md:flex  md:h-36 rounded-2xl bg-[linear-gradient(45deg,_#10B981,_#059669)] px-3 md:px-4 py-8 md:p-4   ">
            <span class="flex gap-3  md:gap-6 w-full lg:max-w-[50%]  text-white">
                <img class="w-[87px] lg:w-[110px] h-[78px] lg:h-[98px] lg:my-[7px] lg:mr-7" src="assets/images/club/diamond.png" alt="diamond.png">
                <div>
                    <span class=" font-Morabba-Bold font-bold text-2xl/7 lg:text-5xl">کافی کلاب</span>
                    <p class=" font-Morabba-Light font-light text-lg/7 lg:text-2xl/7 mt-2 ">میدونستی میتونی با امتیاز هات قهوه بگیری ؟</p>
                </div>
            </span>

            <span class="flex flex-row md:flex-col lg:flex-row   justify-between     lg:gap-6 w-full lg:max-w-[50%] mt-5 md:mt-0">
                <div class=" text-emerald-500 flex items-center  gap-2 md:gap-5">

                    <div class="flex flex-col   items-center size-[72px] lg:size-[98px] bg-white rounded-2xl gap-[3px] md:gap-1.5">
                        <svg class="size-10 md:size-12 mt-1.5 md:mt-5 ">
                            <use class="w-full" xlink:href="#Discovery"></use>
                        </svg>
                        <p class="font-Dana font-normal text-sm text-center"> چرخ و بخت</p>
                    </div>
                    
                    <div class="flex flex-col   items-center size-[72px] lg:size-[98px] bg-white rounded-2xl gap-[3px] md:gap-1.5">
                        <svg class="size-10 md:size-12 mt-1.5 md:mt-5   ">
                            <use class="w-full" xlink:href="#Ticket-Star"></use>
                        </svg>
                        <p class="font-Dana font-normal text-sm text-center"> ماموریت ها</p>
                    </div>

                    <div class="flex flex-col   items-center size-[72px] lg:size-[98px] bg-white rounded-2xl gap-[3px] md:gap-1.5">
                        <svg class="size-10 md:size-12 mt-1.5 md:mt-5   ">
                            <use class="w-full" xlink:href="#Activity"></use>
                        </svg>
                        <p class="font-Dana font-normal text-sm text-center"> جایزه ها</p>
                    </div>
                    
                </div>
                <div class="mt-[7px] text-white flex flex-col  md:flex  md:flex-row lg:flex-col  gap-1">
                    <p class="font-Dana-DemiBold font-semibold text-2xl md:text-3xl mr-3" >542</p>
                    <p class="font-Dana font-normal text-xs md:text-sm mr-3" >امتیـــــــاز شما</p>
                    <div class="flex flex-row items-center justify-center lg:max-w-28 sm:h-8 mt-2 rounded-2xl bg-[linear-gradient(45deg,#FED7AA,#FDBA74)] ">
                        <p class="font-Dana font-medium text-xs sm:text-sm mr-2.5">دریافت جایزه</p>
                        <svg class="size-6">
                            <use xlink:href="#chevron-left"></use>
                        </svg>
                    </div>
                </div>
            </span>

        </div>
    </div> 
</section>

